*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

h1{
    font-size: 4rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("pexels-nicole-avagliano-1132392-2312040.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed; 
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    min-height: 50vh;
    /* width: 40vh; */
    gap: 10px;
    position: relative;
}

.date{
    font-size: 1rem;
}
.time{
    display: flex;
    gap: 20px;
    font-size: 3rem; 
}
.message{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
}

.ap{
    font-size: 1rem;
    position: relative;
}

.ap *{
    position: absolute;
    bottom: 8px;
}